/* layout */

.container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.game-container {
  display: table-cell;
  vertical-align: middle;
}

/* header */
.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* modules */

.panel-match .panel-body {
  padding: 25px 15px;
}

.panel-win-loss .panel-body {
  padding: 15px 15px 7.5px 15px;
}

.character-buttons-row .character-button-container {
  text-align: center;
}

.character-button {
  padding: 0;
}

/* utils */

.spcs {
  margin: 0 13.25px;
}

.bttn {
  text-align: center;
}

.top-buffer {
  margin-top: 20px;
}

.txt {
  font-family: "Inconsolata";
}

.bodytxt {
  font-size: 18px;
}

/* counters */

#matchNumber {
  font-size: x-large;
}

#totalScore {
  font-size: x-large;
}
