.jumbotron{
	padding-top:15px;
	padding-bottom:15px;
}

.spcs{
	margin-right:55px;
}

.bttn{
	text-align:center;
}

.top-buffer{
	margin-top: 20px;
}

.txt{
	font-family: 'Inconsolata';
}

.bodytxt{
	font-size: 18px;
}

